@import url('reset.css');
body {
    font-size: 10px;
    padding: 10px;
    max-width: 600px;
    margin: auto;
    background-image: url("images/background_img_1.jpg");
    background-color: rgba(140, 148, 187, 0.4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background-color: rgba(140, 148, 187, 0.4);
    color: white;
}

h1 {
    font-size: 3.6em;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

h2 {
    font-size: 2.4em;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    font-size: 2.1em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.6em;
}

h6 {
    background-color: rgba(16, 51, 223, 1);
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
}

h6,
label {
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

h6.aliceblue {
    background-color: aliceblue;
    color: black;
    border-bottom: none;
}

p {
    font-size: 1.6em;
    letter-spacing: 1px;
    padding-bottom: 3px;
}

.list p,
.modalBody p {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    background-color: rgba(140, 148, 187, 0.9);
}

.modalBody p {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

label {
    margin-left: 10px;
}

.list {
    color: white;
}

.sectionedList {
    border-top: 2px solid #cccccc;
    font-size: 1.8em;
}

.divNew {
    max-width: 600px;
    height: 100px;
}

button {
    background-color: #eeeeee;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.buttonDiv {
    background-color: rgba(140, 148, 187, 1);
}

.buttonDeleteYes,
.buttonDeleteNo {
    position: fixed;
    bottom: 10px;
}

.buttonDeleteYes {
    right: 100px;
}

.buttonDeleteNo {
    right: 0px;
}

button.buttonNew {
    background-color: bisque;
}

.btnEdit,
.btnDelete,
.buttonDeleteYes,
.buttonDeleteNo,
.btnAdd,
.buttonCloseModal,
.buttonEditApply,
.buttonEditCancel {
    width: 75px;
}

input {
    width: 220px;
    height: 30px;
    border-color: #9d9dbc;
}

main,
form,
{
    position: relative;
    transform: translateY(50%);
    -ms-transform: translate(0%, 50%);
    /* IE 9 */
    -webkit-transform: translate(0%, 50%);
    /* Safari */
    transform: translate(0%, 50%);
}

main.list {
    height: 400px;
    overflow-y: scroll;
}

.modalFade {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.modalBody {
    background-color: rgba(140, 148, 187, 1);
    color: white;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.modalEdit .modalBody,
.modalDelete .modalBody,
.modalAdd .modalBody {
    min-height: 400px;
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translate(0%, -50%);
    /* IE 9 */
    -webkit-transform: translate(0%, -50%);
    /* Safari */
    transform: translate(0%, -50%);
}

.modalEdit .modalBody,
.modalAdd .modalBody {
    min-height: 400px;
}

.modalDelete .modalBody {
    min-height: 150px;
}

.formAdd,
.formEdit {
    width: 290px;
    padding-top: 10px;
}

.formAdd input,
.formAdd textarea,
.formEdit input,
.formEdit textarea {
    width: 250px;
    margin-top: 3px;
    margin-bottom: 5px;
    padding-left: 5px
}

input:required {
    border-color: red;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.textInline {
    display: inline-block;
}

.marginAuto {
    margin: auto;
}

.floatRight {
    float: right;
}

.clearFloat {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.m50 {
    margin-top: 50px;
}

.p50B {
    padding-bottom: 50px;
}

.m20 {
    margin-top: 20px;
}

.m10 {
    margin-top: 10px;
}

.mAuto {
    margin: auto;
}

@media screen and (min-width: 400px) {
    .modalBody {
        min-height: 400px;
        max-width: 350px;
    }
}

@media screen and (max-height: 600px) {
    main.list {
        height: 300px;
        overflow-y: scroll;
    }
}

@media screen and (min-height: 800px) {
    main.list {
        height: 600px;
        overflow-y: scroll;
    }
}
