@import url('reset.css');
body {
    font-size: 10px;
    padding: 10px;
    max-width: 600px;
    margin: auto;
    background-image: url("images/background_img_1.jpg");
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

header {
    background-color: rgba(140, 148, 187, 0.4);
    color: white;
}

.list {
    color: white;
    background-color: rgba(140, 148, 187, 0.9)
}

h6
/*.sectionedList
p:nth-child(2n+1)*/

{
    background-color: rgba(16, 51, 223, 1);
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
}

.sectionedList {
    border-top: 2px solid #cccccc;
    width: 100%;
}

button {
    background-color: #eeeeee;
    border-radius: 10px;
    margin: 5px;
}

h1 {
    font-size: 3.6em;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    font-size: 2.4em;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    font-size: 2.1em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.6em;
}

h6,
label {
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

p {
    font-size: 1.6em;
    letter-spacing: 1px;
    padding-bottom: 3px;
}

.list p,
.modalBody p {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

input {
    width: 220px;
}

main,
form,
{
    position: relative;
    transform: translateY(50%);
    -ms-transform: translate(0%, 50%);
    /* IE 9 */
    -webkit-transform: translate(0%, 50%);
    /* Safari */
    transform: translate(0%, 50%);
}

main.list {
    height: 400px;
    overflow-y: scroll;
}

.modalFade {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.modalEdit .modalBody,
.modalDelete .modalBody,
.modalAdd .modalBody {
    min-height: 400px;
    width: 90%;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translate(0%, -50%);
    /* IE 9 */
    -webkit-transform: translate(0%, -50%);
    /* Safari */
    transform: translate(0%, -50%);
}

.modalEdit .modalBody,
.modalAdd .modalBody {
    min-height: 400px;
}

.modalDelete .modalBody {
    min-height: 150px;
}

.formAdd,
.formEdit {
    width: 90%;
}

.formAdd input,
.formAdd textarea,
.formEdit input,
.formEdit textarea {
    width: 100%;
}

input:required {
    border-color: red;
}

.displayBlock {
    display: block;
}

.textInline {
    display: inline-block;
}

.marginAuto {
    margin: auto;
}

.floatRight {
    float: right;
}

.clearFloat {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.m50 {
    margin-top: 50px;
}

.m50B {
    margin-bottom: 50px;
}

.m20 {
    margin-top: 20px;
}

.mAuto {
    margin: auto;
}

@media screen and (min-width: 400px) {
    .modalBody {
        min-height: 400px;
        max-width: 350px;
    }
}
